<nav class="navbar navbar-expand-sm navbar-fixed-top">
  <div class="container">
  <!-- Navbar Header [contains both toggle button and navbar brand] -->
    <div class="navbar-header">
      <!-- Toggle Button [handles opening navbar components on mobile screens]-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
        <i class="fas fa-align-center"></i>
      </button>

      <!-- Navbar Brand -->
      <%= link_to "Therbligs", root_path, class: 'navbar-brand', id: "logo" %> 
    </div>

    <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
    <div class="collapse navbar-collapse" id="exampleNavComponents">
    
      <!-- Navbar Menu -->
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="active">
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
        <li>
          <a href="#">Page 3</a>
        </li>
        
        <!-- Navbar link with a dropdown menu -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'profile', edit_user_registration %></li>
            <li><%= link_to 'logout', destroy_user_session, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to 'Login', user_session, class: 'nav-item navbar-right' %></li>
      </ul>
      <%= link_to 'Sign up', new_user_registration_url, class: 'btn navbar-btn navbar-right' %>
      </div>
      <% end %> 
    </div>
</nav>
            
  
    
     
        
   